.download {
  display: grid;
  align-items: center;
  justify-content: center;
  place-items: center;
  grid-template-areas: "image content";
  background: #000;
  border-bottom: 0.7rem solid $color-border;
  position: relative;
  z-index: 10;
  padding: 5rem 0 5rem 5rem;

  &--content {
    grid: content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 5rem;
    color: white;
    width: 70%;

    &--heading {
      width: 100%;
      h1 {
        font-size: 5rem;
      }
    }
    &--sub__heading {
      margin-top: 3rem;
      width: 100%;
      h3 {
        font-size: 3rem;
      }
    }
  }

  &--container {
    grid: image;
    display: flex;
    align-items: center;
    position: relative;
    &--image {
      width: 100%;
      img {
        width: 95%;
        position: relative;
      }
    }
    &--downloader {
      background: #000;
      border: 0.25rem solid rgb(61, 59, 59);
      border-radius: 1rem;
      display: grid;
      grid-template-columns: 0.5fr 2fr 0.5fr;
      position: absolute;
      width: 70%;
      max-height: 40%;
      top: 80%;
      left: 47%;
      transform: translate(-50%, -50%);

      &__image {
        padding: 0.5rem 0 0.5rem 1rem;
        width: 100%;
        img {
          width: 100%;
        }
      }
      &__content {
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: white;
        &--name {
          h5 {
            font-size: 1.75rem;
          }
        }
        &--downloading {
          h5 {
            font-size: 1.75rem;
            color: #0071eb;
          }
        }
      }
      &__video {
        background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
@media (max-width: 1045px) {
  .download {
    grid-template-areas: "image" "content";
    text-align: center;
    padding: 10rem 3rem;

    &--content {
      width: 100%;
      margin: 0 auto;
      &--heading {
        h1 {
          font-size: 4rem;
        }
      }
      &--sub__heading {
        h3 {
          font-size: 2rem;
        }
      }
    }
    &--container {
      order: 2;
      width: 80%;
      img {
        width: 100%;
      }
      &--video {
        left: 50%;
        video {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .download {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem 3rem;

    &--content {
      width: 100%;
      margin: 0 auto;
      &--heading {
        h1 {
          font-size: 3rem;
        }
      }
    }
    &--container {
      width: 100%;
      img {
        width: 100%;
      }
      &--video {
        left: 50%;
        video {
          width: 100%;
        }
      }
      &--downloader {
        width: 85%;

        left: 49%;
        &__content {
          margin-left: 1rem;
          &--name {
            h5 {
              font-size: 1.5rem;
            }
          }
          &--downloading {
            h5 {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }
}
