.header {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 4rem 0;
  background: linear-gradient(to bottom, rgba(black, 0.7) 0, transparent 65%);

  &--logo {
    height: 15rem;
    width: 20rem;
    padding-left: 5rem;

    #netflix-logo {
      fill: $color-primary;
    }
  }
  &--options {
    display: flex;
    align-items: center;
    padding-right: 3rem;
    div {
      margin: 0 2rem;
    }

    &--signin {
      color: white;
      display: flex;
      align-items: center;
      &__button {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
      }
    }
  }
}
@media (max-width: 1045px) {
  .header {
    &--logo {
      width: 15rem;
    }
  }
}
@media (max-width: 550px) {
  .header {
    &--logo {
      width: 10rem;
    }
    &--options {
      padding-right: 1rem;
      div {
        margin: 0 1rem;
      }

      &--signin {
        &__button {
          font-size: 1.25rem !important;
          padding: 0.75rem 1.5rem !important;
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .header {
    &--logo {
      padding-left: 2rem;
    }
  }
}
