@import "../../UI/variables";
@import "./Header.scss";
@import "./Signup.scss";
@import "./TVmode.scss";
@import "./DownloadMode.scss";
@import "./AccessMode.scss";
@import "./ChildContent.scss";
@import "./Faq.scss";
@import "./Footer"