.signup {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(black, 0.8) 0,
      rgba(black, 0.4) 60%,
      rgba(black, 0.9) 100%
    ),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/9c5457b8-9ab0-4a04-9fc1-e608d5670f1a/710d74e0-7158-408e-8d9b-23c219dee5df/IN-en-20210719-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin-top: -3.5rem;
  padding-bottom: 3.5rem;

  &--heading {
    color: white;
    text-align: center;
    padding-top: 20rem;
    width: 40%;
    h1 {
      font-size: 5rem;
      font-weight: bold;
    }
  }
  &--sub__heading {
    margin: 2rem;
    color: white;
    text-align: center;

    h3 {
      font-size: 2.5rem;
    }
  }
}
@media (max-width: 1045px) {
  .signup {
    padding-bottom: 3rem;
  }
  .signup--heading {
    width: 80%;
  }
}
@media (max-width: 550px) {
  .signup {
    padding-bottom: 0;
  }
  .signup--heading {
    width: 80%;
    padding-top: 10rem;
    h1 {
      font-size: 2.5rem;
    }
  }
  .signup--sub__heading {
    h3 {
      font-size: 2rem;
    }
  }
}
@media (max-width: 450px) {
  .signup {
    padding-bottom: 10rem;
    height: 65vh;
  }
  .signup--heading {
    padding-top: 25rem;
    width: 90%;
  }
}
